body, html {
    height: 100%;
}
body {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    background-color: #555;
}
.btn {
    background-color: darksalmon;
    border-radius: 3px;
    border: 0;
    padding: 20px 25px;
    color: white;
    margin: 10px 0;
    font-size: 30px;
}
.btn:hover:not([disabled]) {
    cursor: pointer;
}
.btn[disabled] {
    filter: grayscale(0.7) brightness(1.5);
}
.btn-on {
    background-color: firebrick;
}
.btn-off {
    background-color: forestgreen;
}
.start {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s, visibility 1s linear;
    opacity: 1;
    visibility: visible;
    z-index: 2;
    background: linear-gradient(354deg, #4568DC 0%, #b06ab3 100%);
    user-select: none;
}
.bt-logo {
    margin-bottom: 15px;
}
.section-hidden {
    opacity: 0;
    visibility: hidden;
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    background-color: #444;
}
.menu {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.menu li {
    padding: 15px;
    font-size: 1.2em;
    display: flex;
    cursor: pointer;
}
.menu li:hover {
    background-color: #4c4c4c;
}
.snackbar {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    z-index: 3;
    font-size: 0.8em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
    padding: 2px 5px;
}
.snackbar-show {
    opacity: 1;
    visibility: visible;
}
.actual-color {
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid #404040;
}